@media  only screen and (min-width: 769px) and (max-width: 1024px){
/* Make the header navigation list responsive */
header > nav > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.logo-disney1{
    max-width: 160px;
    width: 100%;
    height: auto;
    
}
    


.e-mail {
    font-size: 2.5vw;
    line-height: 1.2;
    color: rgb(192, 192, 192);
    flex-grow: 1;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 30px;
    text-align: center;
}

button {
    height: 5vw;
    width: 20vw;
    background-color: rgb(29, 28, 28);
    color: white;
    border-radius: 7px;
    border-color: white;
}

/* Make input fields responsive */
input {
    background-color: rgb(49, 52, 62);
    width: 70%;
    max-width: 400px;
    font-size: 2vw;
    padding: 1vw;
    margin: 2vw 0;
}

/* Make validation box responsive */
.validation {
    width: 22%;
    padding: 1%;
    margin-right: 1%;
    background-color: blue;


}

/* Make the fixed position block responsive */
.pre-fixed {
    position: fixed;
    top: 0;
    left: 70%;
    border: 1px solid var(--secondary-text-color);
    text-align: left;
    font-size: 2vw;
}

/* Make the font size for the home page larger on larger screens */
.acueille > div > p {
    font-size: 1rem;
}

.acueille > div > h1 {
    font-size: 32px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

/* Make the form responsive */
.acueille > div > div > form > div {
    display: flex;
    flex-wrap: wrap;
}
.acueille > div {
    text-align: center;
}
.acueille {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    padding: 5.6vw;
    position: relative;
    text-align: center;
}

/* Make the list of elements responsive */
.pre-sticky > .liste-element > .contenu-element {
    text-align: center;
    font-size: 2.5vw;
}

/* Make the font size for paragraphs larger on larger screens */
p {
    font-size: 2vw;
}

/* Make the navigation menu responsive */
.menu-nav {
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/9b863b263b7d06ebddf509636e7d7e0c8c9b56d3bf44c2db5802772d43a3626f/original');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
}

.liste-element {
    margin-top: 2vw;
}

/* Make the exclusive disney plus page responsive */
.exclu-disneyPlus {
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/f9e71a20abb4b2a8ec3c221ba604e58aeee68385b55ee30f561c01988c4e049e/original');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    font-size: 2.5vw;
}

.exclu-disneyPlus > div {
    padding-left: 5vw;
    width: 40%;
    margin-bottom: 4vw;
}

.exclu-disneyPlus > div > h1 {
    font-size: 5vw;
}
}

