ul{
    list-style: none;
}
img{
    width: 15%;
    height: 15%;
}
.e-mail{
    color: rgb(192, 192, 192);
    display: block;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /* font-style: normal;
    font-weight: 400; */
    letter-spacing: 0.2px;
    line-height: 30px;
    text-align: left;
}

button{
    background-color: rgb(29, 28, 28);
    /* border-color: rgba(0, 0, 0, 0.7); */
    color: white;
    border-radius: 7px;
    height: 50px;
    width: 150px;
    border-color: white;

}

input{
    background-color: rgb(49, 52, 62);
    /* border-bottom-color: rgb(49, 52, 62); */ 
    margin-top: 0px;
    color: white;
    font-size: 1.2rem;
    width: 25%;
    padding: 1%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    
}
.validation{
    background-color: blue;
    width: 15%;
    height: 5%;
    padding: 1%;
    margin-right: 1%;

}
.pre-fixed{
    position: fixed;
	top: 0%;
	right: 3%;
	border: 1px solid var(--secondary-text-color);
    text-align: left;
    
}
.acueille > div > p{
    font-size: 1.3rem;
} 
.acueille > div > h1{
    font-size: 3rem;
}

.acueille{
    margin-left: 7rem;
	width: 100%;
}
.pre-sticky > .liste-element > .contenu-element{
    text-align: center;
}

body {
	font-family: avenir, sans-serif;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	-webkit-font-smoothing: antialiased;
}

.menu-nav{
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/9b863b263b7d06ebddf509636e7d7e0c8c9b56d3bf44c2db5802772d43a3626f/original');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* margin-bottom: 30px; */
    color: white;
}
.liste-element{
    margin-top:20px;
}

/*  */

.exclu-disneyPlus{
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/f9e71a20abb4b2a8ec3c221ba604e58aeee68385b55ee30f561c01988c4e049e/original');
    background-size: cover;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    color:white;

    
}

.exclu-disneyPlus > div{
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding-left: 5vw;
    top: 0;
    width: 40%;
    margin-bottom: 4rem;
}

.exclu-disneyPlus > div > h1{
    font-size: 3rem;
}
/*  */

.watch{
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/885689243c77916a55474ca8a0a9e7b7ff32d0107cef24da807f55bd8968689d/original');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    
}

.watch > div{
    margin-top: -5rem;
}

.watch > div > h1{
    font-size: 3rem;
}
.watch > div > p{
    font-size: 1.2rem;
}

.contain{
    background-color: rgb(19, 21, 29);
    color: white;
}

.appareils-compatible{
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  
}

.appareils-compatible > ul{
    grid-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}